script#bean(type='text/template')
	.people
	.stats
		div.hrs
			div.hrs_spent {{hours_spent}}
			div.hrs_total {{hours_est}}
		div.date_weight
			div.date 0
			div.weight 0

	div.textarea('contenteditable'=true)
		{{content}}

	.hour_wrap
		div.hours.show {{my_hours_spent}}


script#barista(type='text/template')
	li
		div.user_photo
			img(src='/img/{{img_path}}', alt='{{name}}')
		span.name {{name}}
		span.uid {{uid}}