section#login
	h1 Cortado

	label Select Project
	form(method='post', action='/project')
		select(name='project')
			each project in projects
				option(value=project)= project

		input(type='submit')