header.document
	a#save(href='#') Save
	div#breadcrumb
		ul
			each item in breadcrumb
				li= item
					span.chevron &gt;

#stats
	.hrs
		.hrs_spent 0
		.hrs_total 0
	.date_weight
		.date= today
		.weight 7

#cortado
	.wrap

#hidden
	div.person_selector
		ul
			li.selected
				div.user_photo
					img(src='/img/ross_brown.jpg', alt='placeholder')
				span.name Ross Brown
			li
				div.user_photo
					img(src='/img/george_brooks.jpg', alt='placeholder', )
				span.name George Brooks
			li
				div.user_photo
					img(src='/img/dan_linhart.jpg', alt='placeholder')
				span.name Dan Linhart
			li
				div.user_photo
					img(src='/img/dustin_hayes.jpg', alt='placeholder')
				span.name Dustin Hayes