!!! 5
html(lang='en')
	head
	title Hello, How Are You?
	link(rel='stylesheet', href='/css/app.css')
	script(src='/js/vendor/jquery-1.7.1.min.js')
	script(src='/js/vendor/underscore.js')
	script(src='/js/vendor/backbone.js')
	script(src='/js/vendor/backbone.relational.js')
	script(src='/js/vendor/backbone.shortcuts.js')
	script(src='/js/vendor/keymaster.js')
	script(src='/js/utilities.js')
	script(src='/js/bean.js')
	script(src='/js/person_selector.js')
	script(src='/js/main.js')
	body
		div#wrap
			header
				input(type='search', placeholder='Search')
				div#requests
					p Pending Requests
					div.user_photo
						img(src='/img/placeholder.jpg', alt='placeholder')
					div.number= num_requests

			!= body

		include includes/backbone_templates