!!! 5
html(lang='en')
	head
	title Hello, How Are You?
	link(rel='stylesheet', href='/css/app.css')
	script(src='/js/vendor/jquery-1.7.1.min.js')
	script(src='/js/vendor/underscore.js')
	script(src='/js/vendor/backbone.js')
	script(src='/js/vendor/backbone.relational.js')
	script(src='/js/vendor/backbone.shortcuts.js')
	script(src='/js/vendor/keymaster.js')
	script(src='/js/bean.js')
	script(src='/js/person_selector.js')
	script(src='/js/project.js')
	body
		div#wrap
			!= body
		include includes/backbone_templates
		script(src='/js/main.js')