!!! 5
html(lang='en')
	head
	title Hello, How Are You?
	link(rel='stylesheet', href='/css/app.css')
	script(src='/js/jquery-1.7.1.min.js')
	script(src='/js/underscore.js')
	script(src='/js/keymaster.js')
	script(src='/js/utilities.js')
	script(src='/js/main.js')
	body
		div#wrap
			header
				input(type='search', placeholder='Search')
				div#requests
					p Pending Requests
					div.user_photo
						img(src='/img/placeholder.jpg', alt='placeholder')
					div.number= num_requests

			!= body