html body body div span object iframe h1 h2 h3 h4 h5 h6 p blockquote pre abbr address cite code del dfn em img ins kbd q samp small strong sub sup var b i dl dt dd ol ul li fieldset form label legend table caption tbody tfoot thead tr th td article aside canvas details figcaption figure footer header hgroup menu nav section summary time mark audio video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article aside details figcaption figure footer header hgroup menu nav section {
  display: block;
}
blockquote q {
  quotes: none;
}
blockquote:before blockquote:after q:before q:after {
  content: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title] dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
/* Hack retained to preserve specificity */
}
pre code kbd samp {
  font-family: monospace sans-serif;
}
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:hover a:active {
  outline: 0;
}
a a:active a:visited {
  color: #607890;
}
a:hover {
  color: #036;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ol {
  margin: 0;
  padding: 0;
  list-style-type: decimal;
}
nav ul nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}
small {
  font-size: 85%;
}
b strong th {
  font-weight: bold;
}
td {
  vertical-align: top;
}
sub sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
/* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}
.ie6 legend .ie7 legend {
  margin-left: -7px;
/* 1) Make inputs and buttons play nice in IE: www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
   2) WebKit browsers add a 2px margin outside the chrome of form elements.
      Firefox adds a 1px margin above and below textareas
   3) Set font-size to match <body>'s and font-family to sans-serif
   4) Align to baseline */
}
button input select textarea {
  width: auto;
  overflow: visible;
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
  vertical-align: text-top;
}
label input[type="button"] input[type="submit"] input[type="image"] button {
  cursor: pointer;
}
input::-moz-focus-inner button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input:valid textarea:valid,
input:invalid textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0 0 5px #f00;
  -webkit-box-shadow: 0 0 5px #f00;
  box-shadow: 0 0 5px #f00;
}
.no-boxshadow input:invalid .no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
body select input textarea {
/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
/* Set your base font here to apply evenly */
/* font-family: Georgia serif;  */
}
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
a:link {
  -webkit-tap-highlight-color: #ff5e99;
/* j.mp/webkit-tap-highlight-color */
}
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
@media only screen and  (min-width: 480px) {
}
@media only screen and (min-width: 768px) {
}
@media print {
  * {
    background: transparent;
    color: #000;
    text-shadow: none;
    filter: none;
    -ms-filter: none;
/* Black prints faster: sanbeiji.com/archives/953 */
  }
  a a:visited {
    color: #444;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after a[href^="javascript:"]:after a[href^="#"]:after {
    content: "";
  }
  pre blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead,
  /* css-discuss.incutio.com/wiki/Printing_Tables */ {
    display: table-header-group;
  }
  tr img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100%;
  }
  @page {
    margin: 0.5cm;
  }
  p h2 h3 {
    orphans: 3;
    widows: 3;
  }
  h2 h3 {
    page-break-after: avoid;
  }
}
div.user_photo {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  overflow: hidden;
}
div.user_photo img {
  width: 100%;
  height: 100%;
}
div#wrap {
  width: 960px;
  margin: auto;
}
div#requests {
  float: right;
  width: 225px;
}
div#requests p {
  float: left;
  font-size: 13px;
}
div#requests div.number {
  float: right;
  margin: 5px 40px 0 0;
  padding-top: 6px;
  width: 30px;
  height: 24px;
  background-color: #b4deeb;
  color: #c60;
  border-radius: 40px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
div#requests div.user_photo {
  float: right;
}
header#main {
  margin: 40px 0;
}
header#main input[type='search'] {
  -webkit-appearance: none;
  padding: 10px 0 10px 10px;
  color: #ccc;
  border: 1px solid #ccc;
  font-size: 16px;
}
section#document header {
  margin-bottom: 30px;
  padding: 1px 0;
  border-bottom: 2px dotted #b4deeb;
  overflow: hidden;
}
section#document header ul {
  overflow: hidden;
}
section#document header li {
  float: left;
  margin-right: 10px;
}
section#document header li:after {
  content: '>';
}
section#document header li:last-child:after {
  content: '';
}
section#document a#save {
  display: inline-block;
  float: right;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #c60;
  border-radius: 3px;
  background-color: #eb9e51;
  color: #000;
  text-decoration: none;
}
#cortado .wrap {
  position: relative;
  margin-left: 40px;
}
.bean {
  -webkit-transform: translateY(-3px);
  -webkit-transition: all 0.25s ease-out;
  z-index: 1;
  position: relative;
  opacity: 0.25;
  width: 100%;
  height: 20px;
  padding-left: 30px;
  background: url("../img/app/reorder.png") no-repeat center left;
  font-size: 15px;
}
.bean .textarea {
  display: inline-block;
  width: 500px;
  margin-bottom: 7px;
  font-size: 15px;
  border: none;
  outline: none;
}
.bean .stats,
.bean .people,
.bean .hour_wrap {
  display: none;
}
.bean .hour_wrap {
  margin-bottom: 5px;
}
.bean .hours {
  -webkit-transform: translateY(-25px);
  -webkit-transition: all 0.1s ease-out;
  display: inline-block;
  opacity: 0.25;
  margin-right: 5px;
  padding: 2px 5px 2px 2px;
  border: 1px solid #a6baa6;
  border-radius: 3px;
  background-color: #cae5cb;
  font-size: 80%;
  font-style: italic;
}
.bean .hours:after {
  content: ' hours';
}
.bean .hours.show {
  -webkit-transform: translateY(0px);
  opacity: 1;
}
.bean .people {
  position: absolute;
  right: 150px;
}
.bean .people .user_photo {
  float: right;
  margin-left: 10px;
}
.bean .user {
  -webkit-transform: translateY(-25px);
  -webkit-transition: all 0.1s ease-out;
  opacity: 0.25;
  border-radius: 40px;
}
.bean .user.show {
  -webkit-transform: translateY(0px);
  opacity: 1;
}
.bean .stats {
  float: right;
  width: 125px;
  font-size: 17px;
}
.bean .stats .date_weight {
  overflow: hidden;
  font-size: 15px;
}
.bean .stats .date {
  float: left;
  margin-right: 10px;
  color: #a9b328;
}
.bean .stats .weight {
  color: #c60;
}
.bean .stats .hrs {
  margin-bottom: 4px;
  overflow: hidden;
}
.bean .stats .hrs_spent {
  float: left;
  margin-right: 10px;
  color: #e9cc19;
}
.bean .stats .hrs_spent:after {
  content: 'hrs';
}
.bean .stats .hrs_total {
  color: #b4deeb;
}
.bean .stats .hrs_total:before {
  content: '/';
}
.bean .stats .hrs_total:after {
  content: 'hrs';
}
.bean.focus {
  -webkit-transform: translateY(0px);
  z-index: 2;
  opacity: 1;
}
.bean.focus .stats,
.bean.focus .hour_wrap,
.bean.focus .people {
  display: block;
}
.person_selector.show {
  opacity: 1;
  -webkit-transform: translateY(0);
}
.person_selector {
  -webkit-transform: translateY(-100%);
  -webkit-transition: all 0.25s ease-out;
  display: inline-block;
  top: 0;
  position: absolute;
  opacity: 0;
  width: 160px;
  border: 1px dotted #a9b328;
  background-color: #f5f9c3;
  font-size: 14px;
  z-index: 2;
}
.person_selector input {
  width: 140px;
  margin: 5px auto;
  border: 1px solid #ccc;
  font-size: 14px;
  display: block;
  padding: 5px;
  outline: none;
}
.person_selector div.user_photo {
  float: left;
  margin-right: 8px;
  width: 30px;
  height: 30px;
}
.person_selector span.uid {
  display: none;
}
.person_selector li {
  padding: 7px;
  overflow: hidden;
}
.person_selector li.selected {
  background-color: #e1e5a8;
}
.person_selector span.name {
  margin-top: 6px;
  display: block;
}
