@import 			boilerplate

$slate 				= #cccccc
$ocean 				= #b4deeb
$mustard 				= #e9cc19
$grass 				= #a9b328
$magma 				= #cc6600
$magma_lite 			= #eb9e51
$seafoam 				= #cae5cb
$seafoam_dk 			= #a6baa6

div#wrap
	width 			960px
	margin			auto

input[type='search']
	-webkit-appearance 	none
	padding 			10px 0 10px 10px
	color 			$slate
	border 			1px solid $slate
	font-size			16px

header
	margin 			40px 0

header.document
	padding 			1px 0
	margin-bottom	 	30px
	border-bottom 		2px dotted $ocean
	ul
		padding-left 	0
		overflow 		hidden
		list-style-type 	none
		li
			float 		left
			margin-right 10px
		.chevron
			margin-left 10px
		li:last-child .chevron
			display 	none

#requests
	width 			225px
	float 				right
	p
		float 			left
		font-size		13px
	div.number
		background-color $ocean
		color 		$magma
		width 		30px
		height 		24px
		border-radius 	40px
		font-size 		15px
		font-weight 	bold
		text-align 		center
		float			right
		margin 		5px 40px 0 0
		padding-top	6px
	div.user_photo
		float 			right

div.user_photo
	width 		40px
	height 		40px
	border-radius 	40px
	overflow 		hidden
	img 
		width 	100%
		height 	100%

.bean
	position		relative
	background 	url(../img/app/reorder.png) no-repeat center left
	font-size 		15px
	width 		100%
	height 		20px
	padding-left 	30px
	z-index 		1
	opacity 		.25
	-webkit-transform 	translateY(-3px)
	-webkit-transition all .25s ease-out
	.stats
		display 	none
	.textarea
		font-size 		15px
		display 		inline-block
		width 		500px
		margin-bottom  7px
		border 		none
		outline 		none
	.hour_wrap
		display 		none

.bean.focus
	-webkit-transform 	translateY(0px)
	opacity 		1
	z-index 		2
	.stats
		display 	block
	.hour_wrap
		display 		block

.wrap
	margin-left 	40px
	position		relative
	.handle
		background-color $lava
		height 		10px
		width 		10px
		position		absolute
		left 			0
		top 			0

.hours
		border 			1px solid $seafoam_dk
		border-radius		3px
		background-color	$seafoam
		display 			inline-block
		font-size			80%
		padding 			2px
		opacity			.25
		font-style 			italic
		margin-right		5px
		-webkit-transform 	translateY(-25px)
		-webkit-transition all .1s ease-out

.hours:after
		content	 		' hours'

.hours.show
		opacity			1
		-webkit-transform 	translateY(0px)


.stats
	width					125px
	float					right
	font-size				17px

	.date_weight
		font-size 			15px
		overflow 			hidden
	.date
		float 				left
		color 			$grass
		margin-right		10px
	.weight 
		color 			$magma

	.hrs
		margin-bottom		4px
		overflow			hidden
		.hrs_spent
			float 			left
			margin-right 	10px
			color 		$mustard
		.hrs_spent:after
			content 		'hrs'
		.hrs_total
			color 		$ocean
		.hrs_total:before
			content		'/'
		.hrs_total:after
			content		'hrs'


.person_selector.show
	opacity 				1
	-webkit-transform 		translateY(0)

.person_selector
	-webkit-transform 		translateY(-100%)
	-webkit-transition all .25s ease-out
	position				absolute
	top 					0
	opacity 				0
	display 				inline-block
	width 				160px
	border 				1px dotted $grass
	background-color 		#f5f9c3
	font-size				14px
	div.user_photo
		float 				left
		margin-right 		8px
		width 			30px
		height			30px
	ul
		margin 			0
		padding-left 		0
		list-style-type 		none
	li 
		padding 			7px
		overflow 			hidden
	li.selected
		background-color 	#e1e5a8
	span.name
		margin-top		6px
		display			block

#hidden
	display 				none

a#save
	color 				black
	text-decoration 			none
	float					right
	display 				inline-block
	padding 				5px
	background-color 		$magma_lite
	border 				1px solid $magma
	border-radius			3px
