// ---- COLOR VARIABLES ---- //

$slate 				= #cccccc
$ocean 				= #b4deeb
$mustard 			= #e9cc19
$grass 				= #a9b328
$grass_lite 		= #f5f9c3
$magma 				= #cc6600
$magma_dk 			= #9d4e00
$magma_lite 		= #eb9e51
$seafoam 			= #cae5cb
$seafoam_dk 		= #a6baa6

// ---- TYPOGRAPHY VARIABLES ---- //

$font 				= sans-serif
$font-size			= 16px
$line-height 		= 1.25rem
$vMargin			= 1.5rem

// ---- TYPOGRAPHY ---- //
body
	font 			$font-size/$line-height $font

div.user_photo
	width 			40px
	height 			40px
	border-radius 	40px
	overflow 		hidden
	img 
		width 		100%
		height 		100%
