// TODO this isn't reall right
#cortado
	.wrap
		position			relative
		margin-left 		40px

.bean
	-webkit-transform 		translateY(-3px)
	-webkit-transition		all .25s ease-out
	z-index 				1
	position				relative
	opacity 				.25
	width 					100%
	padding-left 			30px
	margin-bottom			$vMargin
	background 				url(../img/app/reorder.png) no-repeat left .245rem


	.textarea
		display 			inline-block
		width 				500px
		border 				none
		outline 			none

	.stats, .people, .hour_wrap
		display 			none
	.hour_wrap
		margin-top			.33*$vMargin
		margin-bottom		$vMargin

	.hours
		-webkit-transform 	translateY(-25px)
		-webkit-transition 	all .1s ease-out
		display 			inline-block
		opacity				.25
		margin-right		5px
		padding 			2px 5px 2px 2px
		border 				1px solid $seafoam_dk
		border-radius		3px
		background-color	$seafoam
		font-size			80%
		font-style 			italic
	.hours:after
		content	 			' hours'
	.hours.show
		-webkit-transform 	translateY(0px)
		opacity				1

	// ---- People Region ---- //
	.people
		position 			absolute
		right 				150px
		.user_photo
			float 			right
			margin-left 	10px
	.user
		-webkit-transform 	translateY(-25px)
		-webkit-transition 	all .1s ease-out
		opacity				.25
		border-radius		40px
	.user.show
		-webkit-transform 	translateY(0px)
		opacity				1
	// ---- User Photos ---- //
	

	// ---- Stats ---- //
	.stats
		float				right
		width				125px
		font-size			17px
		.date_weight
			overflow 		hidden
			font-size 		15px
		.date
			float 			left
			margin-right	10px
			color 			$grass
		.weight 
			color 			$magma
		.hrs
			margin-bottom	4px
			overflow		hidden
		.hrs_spent
			float 			left
			margin-right 	10px
			color 			$mustard
		.hrs_spent:after
			content 		'hrs'
		.hrs_total
			color 			$ocean
		.hrs_total:before
			content			'/'
		.hrs_total:after
			content			'hrs'
	// ---- Stats ---- //

.bean:hover
	-webkit-transform 		translateY(-3px)
	-webkit-transition		all .25s ease-out
	opacity 				.75

.bean.focus
	-webkit-transform 		translateY(0px)
	z-index 				2
	opacity 				1

	.stats, .hour_wrap, .people
		display 			block