section#login
	width 		400px
	margin 		100px auto
	border 		2px dotted $ocean
	padding		15px
	border-radius 	10px
	form
		overflow 	hidden
	h1
		margin 	0 0 20px 0
	label
		display 	block
		margin 	0 0 5px 0
	select
		width		100%
		font-size	18px
		display	block
	input
		float		right
		font-size 	18px