div#wrap
	height 			100%
	width 			960px
	margin			auto

div#requests
	float 				right
	width 			225px
	p
		float 			left
		font-size		13px
	div.number
		float			right
		margin 		5px 40px 0 0
		padding-top	6px
		width 		30px
		height 		24px
		background-color $ocean
		color 		$magma
		border-radius 	40px
		font-size 		15px
		font-weight 	bold
		text-align 		center
	div.user_photo
		float 			right

header#main
	margin 			40px 0
	input[type='search']
		-webkit-appearance 	none
		padding 			10px 0 10px 10px
		color 			$slate
		border 			1px solid $slate
		font-size			16px